*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish";
}

section{
  width: 100%;
}

.part1{
  position: relative;
  height: 900px;
  width: 100%;
  background-image: url(Images22/background1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay{
  position: absolute;
  height: 900px;
  width: 100%;
  background-color: rgba(52, 58, 64, 0.8);
}

.header{
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  padding: 0 112px;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.logoimg{
  position: absolute;
  top: 10px;
  width: 100px;
  height: 50px;
}

ol{
  position: absolute;
  top: 5px;
  left: 450px;
  list-style-type: none;
  display: inline-block;
}

ol li{
  float: left;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-family: "Mulish";
}

.line{
  position: absolute;
  top: 50px;
  left: 470px;
  height: 2px;
  width: 46px;
  background-color: rgb(121, 113, 234);
}

.btn{
  position: absolute;
  top: 15px;
  left: 1100px;
  color: #fff;
  font-size: 0.7rem;
  font-weight: 900;
  background-color: rgb(121, 113, 234);
  padding: 14.5px 23.5px;
  border: none;
  border-radius: 22px;
} 

.btn:hover{
  background-color: rgb(103, 96, 204);
}

.welcome-section{
  position: absolute;
  top: 330px;
  left: 112px;
  width: 1140px;
  height: 376px;
}

.welcome{
  position: absolute;
  top: 40px;
  left: 16px;
  width: 570px;
  height: 284px;
}

.p1{
  position: absolute;
  top: 1px;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
} 

.p2{
  position: absolute;
  top: 80px;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff80;
  line-height: 27px;
} 

.btn2{
  left: 0;
  top: 220px;
  color: #fff;
  font-size: 0.8rem;
  padding: 20px 45px;
  border-radius: 30px;
}

.signup{
  position: absolute;
  top: 0;
  width: 435px;
  left: 666px;
  height: 373px;
  background-color: #fff;
  border-radius: 10px;
}

.signup p{
  position: absolute;
  top: 40px;
  left: 35px;
  color: black;
  font-size: 1.5rem;
  line-height: 20px;
}

.email, .password, .password2{
  position: absolute;
  top: 69px;
  left: 35px;
  height: 48px;
  width: 365px;
  font-size: 1rem;
  color: rgb(73, 80, 87);
  background-color: #fff;
  padding-left: 12px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
} 

.password{
  top: 135px;
}

.password2{
  top: 200px;
}

.btn3{
  top: 278px;
  left: 30px;
  padding: 16px 30px;
}

.courses{
  position: relative;
  height: 415px;
  background-color: #7971ea;
}

.courses-container{
  position: absolute;
  width: 100%;
}

.courses-container p{
  position: absolute;
  top: 70px;
  left: 540px;
  color: white;
  font-size: 3.6rem;
  font-weight: 900;
}
.subjects{
  position: relative;
  height: 815px;
}

.subjects-info{
  position: absolute;
  width: 100%;
}

.box1{
  position: absolute;
  top: -133px;
  left: 140px;
  width: 336px;
  height: 660px;
}

.box1:hover, .box2:hover, .box3:hover{
  top: -146px;
}

.box2{
  position: absolute;
  top: -133px;
  left: 503px;
  width: 336px;
  height: 715px;
}

.box3{
  position: absolute;
  top: -133px;
  left: 866px;
  width: 336px;
  height: 665px;
}

.frontend{
  position: absolute;
  width: 100%;
  height: 225px;
}

.dataA{
  position: absolute;
  width: 100%;
  height: 265px;
}

.uiux{
  position: absolute;
  width: 100%;
  height: 235px;
}

.course-description1{
  position: absolute;
  top: 225px;
  width: 338px;
  height: 353px;
  border: 1px solid rgb(240, 236, 236);
}

.course-description2{
  position: absolute;
  top: 265px;
  width: 338px;
  height: 365px;
  border: 1px solid rgb(240, 236, 236);
}

.course-description3{
  position: absolute;
  top: 235px;
  width: 338px;
  height: 350px;
  border: 1px solid rgb(240, 236, 236);
}

.price{
  top: -20px;
  left: 143px;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: 300;
}

.time{
  position: absolute;
  top: 40px;
  left: 20px;
  color: #808080;
  font-size: 0.9rem;
  font-weight: 400;
}

.ico i{
  font-size: 0.8rem;
  margin-right: 6px;
}

.name{
  position: absolute;
  top: 74px;
  left: 20px;
  color: rgb(121, 113, 234);
  font-size: 1.3rem;
  font-weight: 400;
}

.description{
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 1.1rem;
  color: gray;
  font-weight: 300;
  line-height: 28px;
}

.readmore{
  position: absolute;
  top: 290px;
  left: 20px;
  color: #7971ea;
  font-size: 1.1rem;
  font-weight: 350;
}

.numbers1{
  position: absolute;
  top: 576px;
  height: 82px;
  width: 337.5px;
  border: 1px solid rgb(240, 236, 236);
}

.numbers2{
  position: absolute;
  top: 628px;
  height: 85px;
  width: 337.5px;
  border: 1px solid rgb(240, 236, 236);
}

.numbers{
  position: absolute;
  top: 585px;
  height: 78px;
  width: 337.5px;
  border: 1px solid rgb(240, 236, 236);
}

.class-size{
  position: absolute;
  left: 20px;
  height: 100%;
  padding: 25px;
  font-size: 1rem;
  color: #808080;
}

.class-size i{
  font-size: 0.9rem;
  padding-right: 6px;
}

.messages{
  position: absolute;
  left: 255px;
  height: 100%;
  font-size: 1rem;
  color: #808080;
  padding: 22px 0 0 21px;
  border-left: 1px solid rgb(199, 189, 189);
}

.messages i{
  font-size: 0.8rem;
  padding-bottom: 6px;
}

.navigator{
  position: absolute;
  top: 665px;
}

.prev{
  left: 570px;
  font-size: 0.7rem;
  padding: 16px 30px;
  border-radius: 4px;
}

.next{
  left: 677px;
  font-size: 0.7rem;
  padding: 16px 30px;
  border-radius: 4px;
}

.measures{
  position: relative;
  height: 2200px;
}

.measures-body{
  position: absolute;
  width: 100%;
}

.part1-0{
  position: absolute;
  top: 80px;
  height: 290px;
  width: 100%;
}

.p1-0{
  position: absolute;
  top: 3px;
  left: 440px;
  width: 485px;
  font-size: 3rem;
  color: #000;
  text-align: center;
  font-weight: 900;
}

.p1-1{
  position: absolute;
  top: 150px;
  left: 350px;
  width: 660px;
  color: rgb(128, 128, 128);
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

.part2-0{
  position: absolute;
  top: 420px;
  height: 520px;
  width: 100%;
}

.womanimg{
  position: absolute;
  left: 125px;
  height: 469px;
  width: 637px;
}

.womanimg img{
  width: 100%;
  height: 100%;
}

.part2-1{
  position: absolute;
  left: 860px;
  height: 463px;
  width: 340px;
}

.p2-0{
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
  line-height: 37px;
}

.p2-1{
  position: absolute;
  top: 100px;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 30px;
  word-spacing: 5px;
}

.grad{
  position: absolute;
  top: 360px;
}

.graduates{
  position: absolute;
  background-color: #7971ea;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
}

.graduates i{
  padding-top: 8px;
  color: #fff;
  font-size: 0.9rem;
  margin: 0 0 16px 0;
}

.grad span{
  position: absolute;
  left: 50px;
  top: 5px;
  width: 300px;
  color: #7971ea;
  font-size: 1.1rem;
}

.vitual{
  position: absolute;
  top: 407px;
}

.vitual span{
  position: absolute;
  left: 50px;
  top: 5px;
  width: 300px;
  color: #7971ea;
  font-size: 1.1rem;
}

.part3-0{
  position: absolute;
  top: 969px;
  height: 556px;
  width: 100%;
}

.p3-0{
  position: absolute;
  top: 45px;
  left: 125px;
  height: 493px;
  width: 350px;
}

.mentor{
  position: absolute;
  font-size: 2rem;
  font-weight: 400;
  line-height: 34px;
}

.p3-1{
  position: absolute;
  top: 80px;
  color: #808080;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 33px;
}

.top{
  top: 400px;
}

.expert{
  top: 450px;
}

.photo-div{
  position: absolute;
  left: 566px;
  height: 537px;
  width: 635px;
}

.photo-div img{
  height: 100%;
  width: 100%;
}

.part4-0{
  position: absolute;
  top: 1595px;
  height: 556px;
  width: 100%;
}

.woman2img{
  position: absolute;
  left: 120px;
  height: 480px;
  width: 640px;
}

.woman2img img{
  height: 100%;
  width: 100%;
}

.part4-1{
  position: absolute;
  left: 858px;
  height: 540px;
  width: 360px;
}

.grant{
  line-height: 34px;
}

.colors{
  color: #7971ea;
  font-size: 1.1rem;
}

.scholarship{
  top: 400px;
}

.Payment{
  top: 450px;
}


.student{
  position: relative;
  height: 1360px;
}

.student-body{
  position: absolute;
  width: 100%;
}

.student-tag{
  top: 60px;
}

.box1-0{
  position: absolute;
  top: 440px;
  left: 125px;
  width: 350px;
  height: 767px;
  border: 1px solid rgb(240, 236, 236);
}

.box2-0{
  position: absolute;
  top: 440px;
  left: 497px;
  width: 350px;
  height: 767px;
  border: 1px solid rgb(240, 236, 236);
}

.box3-0{
  position: absolute;
  top: 440px;
  left: 870px;
  width: 350px;
  height: 767px;
  border: 1px solid rgb(240, 236, 236);
}

.nath{
  position: absolute;
  top: -80px;
  left: 100px;
  width: 144px;
  height: 137px;
}

.nath img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.box1-1{
  position: absolute;
  top: 80px;
  left: 100px;
  font-size: 1.3rem;
}

.box1-2{
  position: absolute;
  top: 114px;
  left: 124px;
  font-size: 1.1rem;
  color: #adb5bd;
}


.box1-3{
  position: absolute;
  top: 159px;
  color: rgb(128, 128, 128);
  font-size: 1.1rem;
  padding: 0 30px;
  text-align: center;
  line-height: 33px;
}

.box2-2{
  position: absolute;
  top: 114px;
  left: 45px;
  font-size: 1.1rem;
  color: #adb5bd;
}

.box3-1{
  position: absolute;
  top: 80px;
  left: 140px;
  font-size: 1.3rem;
}

.box3-2{
  position: absolute;
  top: 114px;
  left: 124px;
  font-size: 1.1rem;
  color: #adb5bd;
}

.okoro-data{
  line-height: 31px;
}

.background-div{
  position: relative;
  height: 799px;
  background-image: url(Images22/background2.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 2px solid black;
}

.overlay22{
  position: absolute;
  height: 799px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.toluwani{
  position: absolute;
  top: 75px;
  left: 600px;
  width: 185px;
  height: 194px;
}

.toluwani img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.toluwani-info{
  position: absolute;
  top: 295px;
  left: 650px;
  color: #fff; 
  font-size: 1.3rem;
}

.toluwani-talk{
  position: absolute;
  top: 345px;
  left: 350px;
  height: 360px;
  width: 730px;
  color: #fff; 
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 34px;
}

.choose-us{
  position: relative;
  height: 926px;
  overflow: hidden;
}

.choose-us-body{
  position: absolute;
  width: 100%;
}

.green{
  position: absolute;
  bottom: 1px;
  left: -160px;
}

.teal{
  position: absolute;
  top: 0;
  right: -180px;
}

.why{
  position: absolute;
  top: 70px;
  font-size: 3.5rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

.listbox{
  position: absolute;
  top: 230px;
  left: 220px;
  width: 350px;
  height: 452px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.2);
}

.bushyhair{
  position: absolute;
  top: 200px;
  left: 605px;
  width: 655px;
  height: 723px;
}  

.bushyhair img{
  width: 100%;
  height: 100%;
}

.list1{
  margin-left: 20px;
  margin-top: 26px;
  width: 100%;
}

.list1 span{
  color: rgb(52, 58, 64);
  font-size: 1rem;
  width: 100%;
  margin-left: 40px;
  line-height: 26px;
  text-align: center;
}

.contact-form{
  position: relative;
  height: 880px;
  background-color: #f8f9fa;
}

.contact-body{
  position: absolute;
  width: 100%;
}

.message-us{
  position: absolute;
  top: 60px;
  left: 388px;
  font-size: 3.5rem;
  font-weight: 900;
}

.feedback{
  position: absolute;
  top: 130px;
  left: 388px;
  font-size: 1.1rem;
  font-weight: 300;
  color: gray;
  width: 630px;
  line-height: 30px;
}

.contact_form {
  position: absolute;
  top: 250px;
  left: 388px;
  width: 630px;
  height: 500px;
}

.contact_input1, .contact_input2 {
  position: absolute;
  width: 300px;
  padding: 16px 12px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ced4da;
}

.contact_input2{
  position: absolute;
  left: 326px;
}


.contact_input1::placeholder, 
.contact_input2::placeholder,
.contact_input3::placeholder,
textarea {
  color: gray;
  font-size: 1rem;
}

.contact_input3{
  position: absolute;
  top: 67px;
  width: 626px;
  padding: 16px 12px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ced4da;
}

.email-input{
  top: 135px;
}

.contact_form textarea {
  position: absolute;
  top: 206px;
  width: 626px;
  height: 290px;
  padding: 16px 12px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ced4da;
}

input:focus{
  border: transparent;
  border: 1px solid blue;
}

.form-btn{
  left: 0;
  padding: 18px 48px;
  top: 505px;
  width: 300px;
}

footer{
  position: relative;
  background-color: white;
  height: 1300px;
}

.footer-body{
  position: absolute;
  width: 100%;
}

.footer-contents{
  position: absolute;
  width: 100%;
}

.content1{
  position: absolute;
  top: 110px;
  left: 125px;
  width: 350px;
  height: 883px;
}

.about-veph{
  font-size: 1rem;
  font-weight: 900;
  padding-left: 10px;
  margin-top: 20px;
  letter-spacing: 0.3px;
}

.content1 p, .content3 p{
  color: gray;
  padding-left: 10px;
  font-weight: 300;
  margin-top: 25px;
  line-height: 28px;
}

.content2{
  position: absolute;
  top: 110px;
  left: 500px;
  width: 350px;
  height: 883px;
}
.center p{
  padding-left: 65px;
}

.socials{
  margin-top: 27px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #7971ea;
}

.content3{
  position: absolute;
  top: 110px;
  left: 865px;
  width: 350px;
  height: 883px;
}

.footer-input{
  padding: 12px;
  width: 230px;
  border: 1px solid #ced4da;
  border-radius: 2px;
  margin: 15px 0 28px 10px;
}

.footer-input::placeholder{
  font-size: 1rem;
}

.buttn{
  padding: 12px;
  width: 107px;
  font-size: 0.7rem;
  font-weight: 900;
  color: white;
  background-color: #7971ea;
  border: 1px solid #7971ea;
  margin-left: -4px;
}

h4{
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 300;
  color: #7971ea;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: #7971ea;
}

.links{
  color: rgb(128, 128, 128);
}

.horizontal-line{
  position: absolute;
  top: 1070px;
  left: 134px;
  width: 1110px;
  height: 1px;
  background-color: rgb(237, 240, 245);
}

.copyright{
  position: absolute;
  top: 1135px;
  left: 354px;
  color: rgb(128, 128, 128);
}

.highlight{
  color: #7971ea;
}